.container{
    background-color:black;
    height: 290px;
    width: 223px;
    margin: auto;
    border-radius: 23px;

}
.result{
    background-color: white;
    color: rgb(245, 179, 179);
    height: 24px;
    box-sizing: content-box;
    border-radius: 25px;
    width: 97%;
    padding-top: 3px;
    margin-top: 9px;
  }
}
.no1{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
    margin-top: 4px;
}
.no2{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no3{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no4{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no5{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no6{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no7{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no8{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no9{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no10{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no11{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}.no12{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no13{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no14{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no15{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no16{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no18{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no19{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}
.no20{
    background-color: yellow;
    height: 51px;
    width: 50px;
    border-radius: 17px;
    margin: auto;
    padding: 2px;
}